<p id="notice"><%= notice %></p>

<h3>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</h3>

<h3>
  <strong>Address:</strong>
  <%= @restaurant.address %>
</h3>

<h3>
  <strong>Phone:</strong>
  <%= @restaurant.phone %>
</h3>

<h3>
  <strong>Stars:</strong>
  <%= @restaurant.stars %>
</h3>

<h3>
  <strong>Stars:</strong>
  <%= @restaurant.categories %>
</h3>

<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>
